// = = = = = = = = = = = = = = =
// HEADER -- INITIAL APPEARANCE
// = = = = = = = = = = = = = = =
@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(-25px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(25px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

// = = = = = = = = = = = = = = =
// HAMBURGER MENU
// = = = = = = = = = = = = = = =
.type1AnimInit {
  animation:  rotateLMoveUp .5s ease forwards;
}

.type1Anim {
  animation:  moveDownRotateR .5s ease forwards;
}

.type2AnimInit {
  animation: fadeIn .5s ease-out forwards;
}

.type2Anim {
  animation: fadeOut .5s ease-out forwards;
}

.type3AnimInit {
  animation: rotateLMoveDown .5s ease forwards;
}

.type3Anim {
  animation: moveUpRotateR .5s ease forwards;
}

@keyframes moveDownRotateR {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(11px) rotate(0);
  }
  100% {
    transform: translateY(11px) rotate(45deg);
  }
}

@keyframes rotateLMoveUp {
  0% {
    transform: translateY(11px) rotate(45deg);
  }
  50% {
    transform: translateY(11px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes moveUpRotateR {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-11px) rotate(0);
  }
  100% {
    transform: translateY(-11px) rotate(-45deg);
  }
}

@keyframes rotateLMoveDown {
  0% {
    transform: translateY(-11px) rotate(-45deg);
  }
  50% {
    transform: translateY(-11px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.type1Anim500 {
  animation:  moveDownRotateR500 .5s ease forwards;
}

.type3Anim500 {
  animation: moveUpRotateR500 .5s ease forwards;
}

@keyframes moveDownRotateR500 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(9px) rotate(0);
  }
  100% {
    transform: translateY(9px) rotate(45deg);
  }
}

@keyframes moveUpRotateR500 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-9px) rotate(0);
  }
  100% {
    transform: translateY(-9px) rotate(-45deg);
  }
}

// = = = = = = = = = = = = = = =
// FOOTER
// = = = = = = = = = = = = = = =
@keyframes fadeInBottom {
	0% {
		opacity: 0;
		transform: translateY(25px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}


// = = = = = = = = = = = = = = = 
// PROFILE / SLIDESHOW
// = = = = = = = = = = = = = = = 
.swipeAnimation {
  position: relative;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 10;
  }
  &::before {
    background: rgb(66, 83, 88);
  }
  &::after {
    background-color: $white;
  }
  &.swipeLtoR {
    &::before {
      animation: swipeLtoR .8s 2 ease;
    }
    &::after {
      animation: swipeLtoR .6s .4s 2 ease;
    }
  }
  &.swipeRtoL {
    &::before {
      animation: swipeRtoL .8s 2 ease;
    }
    &::after {
      animation: swipeRtoL .6s .4s 2 ease;
    }
  }
}

.swipeUpAnimation {
  position: relative;
  &::before, &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 10;
  }
  &::before {
    background: $blue;
  }
  &::after {
    background-color: $green;
    animation-delay: .3s;
  }
  &.swipeUp {
    &::before {
      animation: swipeUp 1s 2 ease;
    }
    &::after {
      animation: swipeUp .6s .6s 2 ease;
    }
  }
}

@keyframes swipeLtoR {
	0% {
		width: 0;
		left: 0;
	}
	65% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}

@keyframes swipeRtoL {
	0% {
		width: 0;
		right: 0;
	}
	65% {
		width: 100%;
		right: 0;
	}
	100% {
		width: 0;
		right: 100%;
	}
}

@keyframes swipeUp {
  0% {
		height: 0;
		bottom: 0;
	}
	65% {
		height: 100%;
		bottom: 0;
	}
	100% {
		height: 0;
		bottom: 100%;
	}
}

// = = = = = = = = = = = = = = = = = = = =
// SHARED ANIMATIONS - GRID / SLIDESHOW
// = = = = = = = = = = = = = = = = = = = =
.animShrinkX {
  transform-origin: left;
  animation: shrinkX 1.3s forwards;
}

.animShrinkXFromRight {
  transform-origin: right;
  animation: shrinkX 1.3s forwards;
}

.animGrowX {
  transform-origin: right;
  animation: growX 0.3s forwards;
}

.animGrowXFromLeft {
  transform-origin: left;
  animation: growX 0.3s forwards;
}

.animShrinkDown {
  transform-origin: top;
  animation: shrinkDown 1.3s forwards;
}

.animShrinkUp {
  transform-origin: top;
  animation: shrinkUp 1.3s forwards;
}

.animGrowUp {
  transform-origin: bottom;
  animation: growUp 0.3s forwards;
}

@keyframes growX {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes shrinkX {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes shrinkDown {
  0% {
    transform: scaleY(1);
  }
  30% {
    transform: scaleY(0)
  }
  100% {
    transform: scaleY(0);
  }
}

@keyframes shrinkUp {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

@keyframes growUp {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
