.portfolio {
  height: calc(100vh - 10rem);
}

.portfolio__container {
  height: calc(100vh - 14rem);
}

.portfolio__piece {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
}

.portfolio__piece--odd {
  grid-template-columns: 60% 40%;
}

.portfolio__piece--even {
  grid-template-columns: 40% 60%;
}

.img__box {
  justify-self: center;
  width: 75%;
  position: relative;
}

.crosshairs {
  position: absolute;
  stroke: $black;
}

.crosshairs--top {
  top: -4rem;
}

.crosshairs--bottom {
  bottom: -4rem;
}

.crosshairs--left {
  left: -4rem;
}

.crosshairs--right {
  right: -4rem;
}

.piece__details {
  width: 70%;
}

.piece__details--even {
  justify-self: end;
  text-align: right;
}

.piece__title {
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 3.8rem;
  margin: 2rem 0;
}

.piece__subtext {
  text-transform: lowercase;
  font-size: 1.8rem;
  position: relative;
}

.piece__subtext::before {
  content: "";
  background: $black;
  width: 12rem;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 10;
}

.piece__subtext--odd::before {
  left: -13rem;
}

.piece__subtext--even::before {
  right: -13rem;
}

.piece__description {
  font-size: 2rem;
}


.flickity-prev-next-button {
  width: 90px;
  height: 90px;
  background: transparent;
}

.flickity-prev-next-button .arrow {
  fill: $black;
}

.flickity-prev-next-button.no-svg {
  color: $black;
}

.flickity-prev-next-button:hover {
  background: transparent;
}

.flickity-prev-next-button.previous {
  left: -20px;
}
.flickity-prev-next-button.next {
  right: -20px;
}