.portfolio {
  display: none;
}

// .portfolio {
//   height: calc(90vh - 4rem);
//   padding: 2rem 0;
// }

.portfolio__description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.portfolio__bracket,
.portfolio__bracketImg {
  height: 100%;
}

// .portfolio__item {
//   width: 70%;
// }

// .carousel {
//   height: 50vh;
// }

// .portfolio {
//   height: 90vh;
//   overflow: hidden;
//   box-shadow: inset 0 0 0 0 #31302B;
// }

// .portfolioGrid {
//   height: 90vh;
//   width: 100%;
//   display: grid;
//   align-items: space-between;
//   padding: 0 1rem;
//   grid-row-gap: 2rem;
//   grid-template-rows: 40vh 40vh;
//   grid-template-columns: 34% 6% 10% 10% 6% 34%;
// }

// .portfolio__item {
//   display: flex;
//   justify-content: center;
// }

// .box {
//   position: relative;
//   margin: 3rem;
//   &:hover > .portfolio__content {
//     opacity: 1;
//   }
// }

// .portfolio__img {
//   position: relative;
//   flex: none;
//   margin: 0 auto;
//   display: block;
//   width: 100%;
//   // filter: grayscale(1);
//   // transition: filter .5s;
//   // &:hover {
//   //   filter: grayscale(0);
//   // }
// }

// // = = = = = = = = = = = = = = =
// // INTRODUCTION ITEM STYLES
// // = = = = = = = = = = = = = = =
// .portfolio__desc {
//   position: relative;
//   align-items: center;
//   text-align: justify;
//   &::before,
//   &::after {
//     position: absolute;
//   }
//   &::before {
//     content: url(/assets/logoleft.png);
//     left: 0;
//   }
//   &::after {
//     content: url(/assets/logoright.png);
//     right: 0;
//   }
// }

.portfolio__intro {
  padding: 0 2rem;
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;
}

// // = = = = = = = = = = = = = = =
// // INDIVIDUAL ITEM STYLES
// // = = = = = = = = = = = = = = =
// // COMEDY CLAPBACK TOUR
// .portfolio__item:first-child {
//   grid-row: 1 / 2;
//   grid-column: 1 / 3;
//   margin-right: 2rem;
//   padding-left: 4.5rem;
//   padding-bottom: 2rem;
//   .box {
//     margin-right: 4rem;
//     padding-bottom: 2rem;
//   }
//   .portfolio__title {
//     right: -9rem;
//   }
//   .portfolio__content {
//     top: 2rem;
//   }
// }

// // DESCRIPTION
// .portfolio__item:nth-child(2) {
//   grid-row: 1 / 3;
//   grid-column: 3 / 5;
// }

// // MIND ON A SHELF
// .portfolio__item:nth-child(3) {
//   grid-row: 1 / 2;
//   grid-column: 5 / 7;
//   padding-left: 10rem;
//   padding-right: 4.5rem;
//   padding-bottom: 2rem;
//   .portfolio__content {
//     top: 8rem;
//     left: -25rem;
//     max-width: 22rem;
//     &:after {
//       right: -5.5rem;
//     }
//   }
// }

// // MOON COFFEE
// .portfolio__item:nth-child(4) {
//   grid-row: 2 / 3;
//   grid-column: 1 / 4;
//   margin-right: 20rem;
//   margin-bottom: 1.5rem;
//   padding-left: 4.5rem;
// }

// // ADVENTURE ADVISOR
// .portfolio__item:last-child {
//   grid-row: 2 / 3;
//   grid-column: 4 / 7;
//   padding-right: 4.5rem;
//   margin-left: 15rem;
// }

// // = = = = = = = = = = = = = = =
// // BOX / SHADOW STYLES
// // = = = = = = = = = = = = = = =
// .box__shadow {
// 	position: absolute;
// 	width: 100%;
//   height: 100%;
//   border: 3px solid $blue;
// }

// .box__shadow--top {
//   top: -.5rem;
// }

// .box__shadow--bottom {
//   bottom: -.5rem;
// }

// .box__shadow--left {
//   left: -2.5rem;
// }

// .box__shadow--right {
//   right: -2.5rem;
// }

// // = = = = = = = = = = = = = = =
// // TITLE STYLES
// // = = = = = = = = = = = = = = =
// .portfolio__title {
//   position: absolute;
//   z-index: 100;
// }

// .portfolio__title--top {
//   top: -2.5rem;
// }

// .portfolio__title--bottom {
//   bottom: -4rem;
// }

// .portfolio__title--left {
//   left: -8rem;
// }

// .portfolio__title--right {
//   right: -4.5rem
// }


// // = = = = = = = = = = = = = = =
// // TEXT STYLES
// // = = = = = = = = = = = = = = =
// .portfolio__text {
//   position: absolute;
//   writing-mode: vertical-lr;
//   text-transform: uppercase;
// }

// .portfolio__text--top {
//   top: -2rem;
// }

// .portfolio__text--bottom {
//   bottom: -2rem;
// }

// .portfolio__text--left {
//   left: -4.5rem;
//   transform: rotate(180deg);
// }

// .portfolio__text--right {
//   right: -4.5rem;
// }

// // = = = = = = = = = = = = = = =
// // CONTENT STYLES
// // = = = = = = = = = = = = = = =
// .portfolio__content {
//   position: absolute;
//   font-size: 1.4rem;
//   text-transform: lowercase;
//   max-width: 25rem;
//   opacity: 0;
//   transition: opacity .7s ease-in-out;
// }

// .portfolio__content--top {
//   top: 8rem;
// }

// .portfolio__content--bottom {
//   bottom: 1rem;
// }

// .portfolio__content--left {
//   left: -28rem;
//   &::after {
//     content: "";
//     background-color: $black;
//     width: 5rem;
//     height: 1px;
//     position: absolute;
//     top: 1rem;
//     right: -4.5rem;
//   }
// }

// .portfolio__content--right {
//   right: -28rem;
//   &::before {
//     content: "";
//     background-color: $black;
//     width: 5rem;
//     height: 1px;
//     position: absolute;
//     top: .8rem;
//     left: -5.5rem;
//   }
// }