$heading-font: "Playfair Display", serif;
$main-font: "Barlow Semi Condensed", sans-serif;
$wedding-font: "Montserrat", sans-serif;
$rsvp-font: "Raleway", sans-serif;


$white: #fbfef9;
$black: #333333;
$blue: #19647E;
$green: #8BB174;


$wedding-green: #bdcdb2;
$wedding-grey: #414042;
$wedding-white: #f0f7f4;
$wedding-black: #333333;