$heading-font: "Playfair Display", serif;
$main-font: "Barlow Semi Condensed", sans-serif;
$wedding-font: "Montserrat", sans-serif;
$wedding-cursive: "Homemade Apple", cursive;


$white: #fbfef9;
$black: #333333;
$blue: #19647E;
$green: #8BB174;


$wedding-green: #83AD4C;
$wedding-grey: #414042;
$wedding-white: #F0F7F4;